{% extends 'base.html' %}{% load static %}
{% block title %}{{title}}{% endblock  %}
{% block  content %}	

    <!-- =====================================
    ====Start page-404  -->
	<div class="page-404 section-bg" style="background-image:url('/static/assets/images/bg_404.jpg')">
		<!-- container -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-8">
					<div class="content-404">
						<h1 class="title_404">{{error}}</h1>
						<div class="error-description pt-30 pb-30">
							We are sorry. But the page you are looking for is not available.<br/>
							Perhaps you can try again or try a new searching.
						</div>
						<div class="search_page_404">
							<form method="get" class="searchform" action="#">
								<div class="wiget-search input-group">
								 <input name="s" maxlength="40" class="form-control input-search" type="text" size="20" placeholder="Searching everything..."> 
								 <span class="input-group-addon input-large btn-search"> 
								 	<span class="fa fa-search"></span>
								 	<input type="submit" class="fa" value="">
								 </span>
								</div>
							</form>
						</div>
						<a href="{% url 'app:home' %}" class="btn btn-primary back-home">Back homepage <i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- =====================================
    ==== End page-404 -->

{% endblock %}