{% extends 'base.html' %}{% load static %}
{% block title %}{{title}}{% endblock  %}
{% block  content %}

	  <!-- =====================================
      ==== Start breadcrumb -->
   	<div class="breadcrumb">
   		<!-- container -->
		<div class="container">
			<h1>Cart</h1>
			<ol class="item-breadcrumb">
	            <li><a href="{% url 'app:home' %}">Home</a></li>
	            <li>Payment</li>     
            </ol>
		</div>
		<!-- /container -->
   	</div>
   <!-- =====================================
      ==== End breadcrumb -->


	<!-- =====================================
      ==== Start checkout-form-->
  <i class="{{ form.country.flag_css }}"></i>
	<div class="checkout-form">
		<!-- container -->
		<div class="container">
			<!-- Row -->
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="order-wrapper">
                        <h3>Your order</h3>
                        <div class="order-table table-responsive mb-30">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Product</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="product-name"> {{cart.item.name}} <strong> × {{cart.count}}</strong></td>
                                        <td class="amount"> ₹{{total}}</td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Cart Subtotal</th>
                                        <td>₹{{total}}</td>
                                    </tr>
                                    <tr>
                                        <th>Order Total</th>
                                        <td><strong>₹{{total}}</strong></td>
                                    </tr>
                                </tfoot>
                            </table>    
                        </div>
                        <div class="payment-method">
                          <div class="panel-default">
                                <a class="righ_10" data-toggle="collapse" data-target="#collapsethree" aria-controls="collapseOne">Payment Method</a>

                                <div id="collapsethree" class="" data-parent="#accordion">
                                    <div class="card-body2">
                                    <script src="https://js.stripe.com/v3/"></script>

                                            <form action="{% url 'app:payment' key %}" method="post" id="payment-form">{% csrf_token %}
                                            <div class="form-row">
                                                <label for="card-element">
                                                Credit or debit card
                                                </label>
                                                <div id="card-element">
                                                <!-- A Stripe Element will be inserted here. -->
                                                </div>

                                                <!-- Used to display form errors. -->
                                                <div id="card-errors" role="alert"></div>
                                            </div>
                                            <div class="order-button">
                                                <center><button type="submit" class="btn-primary">Submit Payment</button></center> 
                                            </div>
                                            </form>
                                    </div>
                                </div>
                            </div> 

                                 
                        </div>
                        </form>    
                    </div>  
                </div>
            </div> 
            <!-- Row -->
        </div>
		<!-- /container -->
	</div>
	<!-- =====================================
      ==== End checkout-form -->

{% endblock %}